.left-box
  .left-box__header
    .left-box__header--namebox
      = current_user.name
      .left-box__header--btn
        = link_to new_group_path do
          = fa_icon 'edit',class: "left-box__header--btn--icon"
          %input.left-box__header--btn--input{type: "button",}
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog',class: "left-box__header--btn--icon"
          %input.left-box__header--btn--input{type: "button",}
  .left-box__body
    - current_user.groups.each do |group|
      .left-box__body--messagebox
        = link_to group_messages_path(group) do
          .left-box__body--messagebox--groupname
            = group.name
          .left-box__body--messagebox--latestmessage
            = group.show_last_message
